# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
emp_sal = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
emp_sal

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
emp_sal.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
emp_sal.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
emp_sal['Salary or Hourly'].value_counts(dropna = False)

Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
emp_sal['Department'].value_counts(dropna = False)

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
from scipy.stats import ttest_1samp
hourly_workers = emp_sal[emp_sal['Salary or Hourly']=='Hourly']
stat, pval = ttest_1samp(hourly_workers['Hourly Rate'].dropna(), 30)
print(stat,pval)
alpha = 0.05
if pval < alpha:
    print("The mean hourly wage is significantly different from $30/hr (reject the null hypothesis)")
else:
    print("The mean hourly wage is not significantly different from $30/hr (fail to reject the null hypothesis)")
#hourly_workers

31.211500329216044 3.825475847673793e-202
The mean hourly wage is significantly different from $30/hr (reject the null hypothesis)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [9]:
# Your code here:
police_salaries = emp_sal[(emp_sal['Salary or Hourly'] == 'Salary') & (emp_sal['Department'] == 'POLICE')]
police_salaries
stat, pval = ttest_1samp(police_salaries['Annual Salary'].dropna(), 86000)
display(stat)
alpha = 0.05
one_tail_pval = pval/2
print('pvalue for the one-tailed test is ', pval/2)
if stat > 0 and one_tail_pval < alpha:
    print("The mean salary in the police force is significantly higher than $86000/year (reject the null hypothesis)")
else:
    print("The mean salary in the police force is not significantly higher than $86000/year (fail to reject the null hypothesis)")

print("One-tailed p-value:", one_tail_pval)

18.51748561981861

pvalue for the one-tailed test is  6.119566952121482e-76
The mean salary in the police force is significantly higher than $86000/year (reject the null hypothesis)
One-tailed p-value: 6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

In [10]:
# Your code here:
cross_tab = pd.crosstab(hourly_workers['Department'],hourly_workers['Salary or Hourly'])
display(cross_tab)
department_with_most_hourly_workers = cross_tab.idxmax()['Hourly']
department_with_most_hourly_workers

Salary or Hourly     Hourly
Department
ANIMAL CONTRL            12
AVIATION               1214
BUDGET & MGMT             2
BUSINESS AFFAIRS          7
CITY COUNCIL             74
CULTURAL AFFAIRS         10
DAIS                    745
DISABILITIES              1
FAMILY & SUPPORT        357
FINANCE                  45
HEALTH                    2
HOUSING & ECON DEV        3
LAW                      48
MAYOR'S OFFICE           17
OEMC                   1077
POLICE                   24
PROCUREMENT               2
PUBLIC LIBRARY          356
PUBLIC SAFETY ADMIN      48
STREETS & SAN          1846
TRANSPORTN              726
WATER MGMNT            1558

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [12]:
# Your code here:
department_with_most_hourly_workers = emp_sal[emp_sal['Department'] == 'STREETS & SAN']
stat, pval = ttest_1samp(department_with_most_hourly_workers['Hourly Rate'].dropna(), 35)
alpha = 0.05
if stat < 0 and pval < alpha:
    print("The mean hourly wage in the department with the most hourly workers is significantly less than $35/hour (reject the null hypothesis)")
else:
    print("The mean hourly wage in the department with the most hourly workers is not significantly less than $35/hour (fail to reject the null hypothesis)")

print("p-value:", pval)

The mean hourly wage in the department with the most hourly workers is not significantly less than $35/hour (fail to reject the null hypothesis)
p-value: 6.580474443773579e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [13]:
# Your code here:

import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourly_workers['Hourly Rate'].dropna()) - 1  
sample_mean = hourly_workers['Hourly Rate'].mean()
sample_standard_error = scipy.stats.sem(hourly_workers['Hourly Rate'].dropna())

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

(34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [14]:
# Your code here:

confidence_level = 0.95
degrees_freedom = len(police_salaries['Annual Salary'].dropna().dropna()) - 1  
sample_mean = police_salaries['Annual Salary'].dropna().mean()
sample_standard_error = scipy.stats.sem(police_salaries['Annual Salary'].dropna().dropna())

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: